---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -readability-redundant-access-specifiers,
        -cppcoreguidelines-special-member-functions,
        -hicpp-special-member-functions,
        -readability-implicit-bool-conversion,
        -hicpp-explicit-conversions,
        -*-magic-numbers,
        -readability-named-parameter,
        -hicpp-named-parameter,
        -readability-identifier-length,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-pro-type-reinterpret-cast,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
