---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -readability-redundant-access-specifiers,
        -cppcoreguidelines-special-member-functions,
        -hicpp-special-member-functions,
        -readability-implicit-bool-conversion,
        -hicpp-explicit-conversions,
        -*-magic-numbers,
        -readability-named-parameter,
        -hicpp-named-parameter,
        -readability-identifier-length,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -hicpp-signed-bitwise,
        -*-uppercase-literal-suffix,
        -*-cognitive-complexity,
        -*-multiway-paths-covered,
        -*-switch-missing-default-case,
        -*-avoid-endl,
        -cppcoreguidelines-pro-type-static-cast-downcast,
        -misc-header-include-cycle,
        -cppcoreguidelines-pro-type-vararg,
        -*-member-init,
        -bugprone-easily-swappable-parameters,
        -hicpp-vararg,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -*-dcl21-cpp,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
